@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background-color: #f5f6fa;
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.comments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  max-width: 800px;
}

.comments-list .section-reply {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 2px solid #eaecf1;
}

.comments-list .single-comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 8px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.comments-list .single-comment .likes-container {
  grid-row: 1 / -1;
}

.comments-list .single-comment .header-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.comments-list .single-comment .header-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.comments-list .single-comment .comment-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}

@media (max-width: 650px) {
  .comments-list .single-comment {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .comments-list .single-comment .likes-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .comments-list .single-comment .header-left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .comments-list .single-comment .header-right {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .comments-list .single-comment .comment-content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

.comments-list .single-comment {
  background-color: white;
  color: #67727e;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 15px;
  line-height: 1.3em;
}

.comments-list .single-comment .likes-container {
  color: #5457b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 36px;
  max-height: 100px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f5f6fa;
  border-radius: 7px;
}

@media (max-width: 650px) {
  .comments-list .single-comment .likes-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 35px;
    width: 80px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.comments-list .single-comment .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.comments-list .single-comment .header-left .user-name {
  color: #324152;
  font-weight: 700;
}

.comments-list .single-comment .header-left span {
  background-color: #5457b6;
  color: white;
  margin-left: 5px;
  font-weight: 300;
  padding: 1.5px 5px;
  font-size: 0.7em;
}

.comments-list .single-comment .header-left img {
  width: 30px;
}

.comments-list .single-comment .header-right,
.comments-list .single-comment .header-right.user-edit {
  color: #5457b6;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.comments-list .single-comment .header-right:hover,
.comments-list .single-comment .header-right.user-edit:hover {
  cursor: pointer;
}

.comments-list .single-comment .header-right .call-action,
.comments-list .single-comment .header-right.user-edit .call-action {
  font-weight: 500;
}

.comments-list .single-comment .header-right .edit,
.comments-list .single-comment .header-right .delete,
.comments-list .single-comment .header-right.user-edit .edit,
.comments-list .single-comment .header-right.user-edit .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.comments-list .single-comment .header-right .delete,
.comments-list .single-comment .header-right.user-edit .delete {
  margin-right: 10px;
  color: #ed6468;
}

.comments-list .single-comment .comment-content span,
.comments-list .single-comment .new-content.msg-editable span {
  color: #5457b6;
  font-weight: 500;
}

.header-right:hover,
.likes-container img:hover {
  cursor: pointer;
}

button {
  background-color: #5457b6;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
}

.single-comment.new-msg {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single-comment.new-msg textarea {
  resize: vertical;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eaecf1;
  width: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  font-family: "Rubik", sans-serif;
  color: #67727e;
  font-size: 16px;
}

@media (max-width: 650px) {
  .single-comment.new-msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .single-comment.new-msg button {
    position: absolute;
    bottom: 25px;
    right: 15px;
  }
}

.msg-editable {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #eaecf1;
  min-height: 70px;
  width: 100%;
}

.msg-editable:focus {
  outline: 0px solid transparent;
}

.msg-editable::after {
  content: attr(data-placeholder);
}

.msg-editable:focus::after {
  content: "  ";
}

[placeholder]:empty::before {
  content: attr(placeholder);
}

[placeholder]:empty:focus::before {
  content: "";
}
